* {
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(https://getwallpapers.com/wallpaper/full/0/f/d/909560-large-fruits-basket-wallpapers-2000x1415-for-lockscreen.jpg); /* Substitua pelo caminho da sua imagem de fundo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; /* Isso pode ser adicionado para manter a imagem fixa enquanto a página rola */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 200px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 12px; /* Mais espaço interno */
  margin-bottom: 20px; /* Mais espaço inferior */
  border: 2px solid #fb109d; /* Borda mais espessa */
  border-radius: 12px; /* Border mais arredondado */
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

input[type="submit"] {
  background-color: #fb109d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

input[type="submit"]:hover {
  background-color: #715567;
}

div>div {
  margin-top: 20px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

div>div>p {
  margin: 0;
  font-weight: bold;
}
/* Restante do seu CSS */

.container {
  background-color: rgba(255, 255, 255, 0.9); /* Fundo branco semi-transparente */
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  max-width: 400px; /* Largura máxima do container */
  margin: 0 auto; /* Centraliza o container na tela */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px; /* Border mais arredondado para o formulário */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.submit-button {
  background-color: #fb109d;
  color: #fff;
  padding: 12px 24px; /* Mais espaço interno */
  border: none;
  border-radius: 12px; /* Border mais arredondado */
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.submit-button:hover {
  background-color: #ff147f;
}

.result {
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7); /* Cor branca com transparência de 30% */
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.date-input:focus {
  border-color: #ff147f; /* Cor da borda ao focar */
}


